nav.navbar .logo{
    width: 192px;
}

nav.navbar .container-fluid{
    align-items: center !important;
}

nav.navbar ul{
    align-items: center;
    margin: 0;
}

nav.navbar ul li{
    padding: 10px 20px;
}

ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav.navbar.sticky{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

nav.navbar.open ul.main-nav{
    display: block !important;
    position: absolute;
    z-index: 1;
    left: 0;
    padding: 0;
    top: 100%;
    background: white;
    width: 100%;
    transition: all 0.4s ease;
    animation: nav 2s infinite;
}


nav.navbar.open ul.main-nav{
    border-top: 1px solid black;
}

nav.navbar.open ul.main-nav li{
    padding: 1.2rem 3rem;
    transition: all 0.2s ease;
}

nav.navbar.open ul.main-nav li:hover{
    padding-left: 4rem;
    background: #eee;
}